---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import CollectionItem from "../../components/CollectionItem.astro";
const collection_name = "posts";
const allPosts = await getCollection("posts");
---

<BaseLayout title="Blog">
  <div
    class="w-full mt-8 sm:mt-10 md:mt-12 lg:mt-16 mb-2 sm:mb-3 md:mb-4 lg:mb-8 px-8"
  >
    <div
      class="w-full font-bold pb-2
      text-4xl sm:text-5xl md:text-6xl lg:text-7xl"
    >
      Blog
    </div>
  </div>

  <p class="px-8 pb-2">List of my blogposts. Check them out!</p>
  <div class="px-8 py-2 flex flex-col gap-4">
    {
      allPosts
        .sort((a, b) => {
          if (a.data.pubDate > b.data.pubDate) {
            return -1;
          } else {
            return 1;
          }
        })
        .map((post) => (
          <CollectionItem item={post} collection_name={collection_name} />
        ))
    }
  </div>
</BaseLayout>
