---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon/favicon.ico" sizes="32x32" />
    <link rel="image/png" href="/favicon/favicon_16.png" sizes="16x16" />
    <link rel="image/png" href="/favicon/favicon_32.png" sizes="32x32" />
    <link rel="image/png" href="/favicon/favicon_48.png" sizes="48x48" />
    <link rel="icon" href="/favicon/favicon.svg" type="image/svg+xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>404 | Kabaczek.me</title>
  </head>
  <body>
    <div class="w-lvw h-lvh flex justify-center items-center">
      <div>
        <div class="text-6xl">404</div>
        <div class="text-3xl">Ain't got it</div>
        <div>
          <a
            class="bg-emerald-700 block py-2 px-4 rounded-xl mt-4 font-bold text-center w-full
            hover:bg-emerald-800 hover:shadow-md
            transition-all duration-150"
            href="/">Main page</a
          >
        </div>
      </div>
    </div>
  </body>
</html>
