---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="About this site">
  <div class="p-8">
    <h1 class="text-4xl mb-4">About this site</h1>

    <div>
      This site was made with <a
        href="https://astro.build/"
        class="hover:text-emerald-300 underline">Astro static site generator</a
      >.
    </div>
    <div>
      It uses
      <a href="https://lucide.dev" class="hover:text-emerald-300 underline"
        >Lucide</a
      > svg icons.
    </div>
    <div>
      It uses
      <a
        href="https://www.latofonts.com/"
        class="hover:text-emerald-300 underline">Lato</a
      > font.
    </div>
    <div>It doesn't use any cookies.</div>

    <div class="mt-4">
      <a
        href="https://github.com/kabaczek1/kabaczek1.github.io"
        class="hover:text-emerald-300 underline">Source code</a
      > is available on my GitHub.
    </div>
    <div>
      <a
        href="/projects/astro-portfolio"
        class="hover:text-emerald-300 underline">Project page</a
      > for this site.
    </div>
    <div class="mt-4">
      <a
        href="https://github.com/logos"
        class="hover:text-emerald-300 underline">GitHub logo</a
      > belongs to GitHub.
    </div>
    <div>
      <a
        href="https://joinmastodon.org/branding"
        class="hover:text-emerald-300 underline">Mastodon logo</a
      > belongs to Mastodon.
    </div>
    <div>
      <a
        href="https://brand.linkedin.com/content/brand/global/en_us/index/visual-identity/logo"
        class="hover:text-emerald-300 underline">LinkedIn logo</a
      > belongs to LinkedIn.
    </div>
    <div>
      <a
        href="https://itch.io/press-kit"
        class="hover:text-emerald-300 underline">itch.io logo</a
      > belongs to itch.io.
    </div>
  </div>
</BaseLayout>
