---
const { back_href, back_title } = Astro.props;
---

<div
  id="header"
  class="flex-none w-full p-8 border-b border-emerald-800 flex justify-between items-center h-24"
>
  <div class="flex flex-wrap items-baseline overflow-hidden">
    <a
      href="/"
      class="w-fit text-2xl hover:text-emerald-300 transition-all font-bold mr-2"
      >Kabaczek.me</a
    >
    <div class="text-emerald-50/50">Krystian Nowakowski</div>
  </div>

  {
    back_href && (
      <a
        href={back_href}
        class="block shrink-0 ml-2
        bg-emerald-700 py-1 px-3 rounded-lg font-bold text-center
        hover:bg-emerald-800 hover:shadow-md
          transition-all duration-150"
      >
        {back_title}
      </a>
    )
  }
</div>
