<style>
  @media (min-width: 224px) {
    #smallscreen {
      display: none;
    }
  }
</style>

<div
  id="smallscreen"
  class="fixed left-0 top-0 w-dvw h-lvh bg-emerald-975 p-4 overflow-y-auto z-50"
>
  <div class="flex flex-col content-center gap-2">
    <div class="text-3xl">😳</div>
    <div class="text-base">Well, that's a little embarrasing</div>
    <div class="text-sm">Please check out my website on a bigger screen</div>
  </div>
</div>
